In [5]:
#Q1) SOLUTION
test1='This is a test of the emergency text system'
file=open('test.txt','w')
file.write(test1)

43

In [6]:
#Q2) SOLUTION
file2=open('test.txt','r')
test2=file2.readline()
test2

''

In [8]:
if test1==test2:
    print("Both are same")

In [9]:
#Q3) SOLUTION

import csv
rows=[['title','author','year'],
     ['The Weirdstone of Brisingamen','Alan Garner',1960],
     ['Perdido Street Station','China Miéville',2000],
     ['Thud!','Terry Pratchett',2005],
     ['The Spellman Files','Lisa Lutz',2007],
     ['Small Gods','Terry Pratchett',1992]]
with open('books.csv','w',newline='') as file:
    writer=csv.writer(file)
    writer.writerows(rows)

In [10]:
#Q4) SOLUTION

import sqlite3
conn=sqlite3.connect('books.db')
c=conn.cursor()

c.execute('create table books(title varchar(20),author varchar(20),year int)')
conn.commit()

In [15]:
# Q5) SOLUTION

import pandas as pd
read_books=pd.read_csv('books.csv',encoding='unicode_escape')
read_books.to_sql('books',conn,if_exists='append',index=False)

In [16]:
#Q6)SOLUTION

c.execute('select title from books order by title asc')
print(c.fetchall())

[('Perdido Street Station',), ('Perdido Street Station',), ('Small Gods',), ('Small Gods',), ('The Spellman Files',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('The Weirdstone of Brisingamen',), ('Thud!',), ('Thud!',)]

In [17]:
#Q7) SOLUTION

c.execute('select * from books order by year')
df=pd.DataFrame(c.fetchall(),columns=['title','author','year'])
df

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1  The Weirdstone of Brisingamen      Alan Garner  1960
2                     Small Gods  Terry Pratchett  1992
3                     Small Gods  Terry Pratchett  1992
4         Perdido Street Station   China Miéville  2000
5         Perdido Street Station   China Miéville  2000
6                          Thud!  Terry Pratchett  2005
7                          Thud!  Terry Pratchett  2005
8             The Spellman Files        Lisa Lutz  2007
9             The Spellman Files        Lisa Lutz  2007

In [18]:
#Q8) SOLUTION

import sqlalchemy
engine = sqlalchemy.create_engine("sqlite:///books.db")
rows = engine.execute('select * from books')
for i in rows:
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

In [19]:
#Q9) SOLUTION

!pip install redis

Collecting redis
  Downloading redis-4.2.2-py3-none-any.whl (226 kB)
Collecting async-timeout>=4.0.2
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Collecting deprecated>=1.2.3
  Downloading Deprecated-1.2.13-py2.py3-none-any.whl (9.6 kB)
Requirement already satisfied: packaging>=20.4 in c:\users\pruth\anaconda3\lib\site-packages (from redis) (20.4)
Requirement already satisfied: wrapt<2,>=1.10 in c:\users\pruth\anaconda3\lib\site-packages (from deprecated>=1.2.3->redis) (1.11.2)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\pruth\anaconda3\lib\site-packages (from packaging>=20.4->redis) (2.4.7)
Requirement already satisfied: six in c:\users\pruth\anaconda3\lib\site-packages (from packaging>=20.4->redis) (1.15.0)
Installing collected packages: async-timeout, deprecated, redis
Successfully installed async-timeout-4.0.2 deprecated-1.2.13 redis-4.2.2

In [ ]:
import redis
conn = redis.Redis()
conn.delete('test')
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')

In [ ]:
#Q10) SOLUTION

conn.hincrby('test','count', 3)

In [ ]:
#COMPLETED